# Virtual Environments
venv/
.venv/
env/
bin/
include/
lib/
share/

# Environment Variables / Secrets
.env
.flaskenv
*.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
