# Virtual Environments
venv/
.venv/
env/
bin/
include/
lib/
share/

# Environment Variables / Secrets
.env
.flaskenv
*.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Database
db.sqlite3

# Media
media/profile_images/*

test.py