{% extends "auth_base.html" %}
{% load static %}

{% block "title"%}Settings{% endblock %}

{% block "topbar" %}
<div class="bg-white py-4 shadow dark:bg-gray-800">
    <div class="max-w-6xl mx-auto">

            <div class="flex items-center lg:justify-between justify-around">

                    <a href={%url "index"%}>
                        <b><h1 style="font-size: 1.5rem;">Social Book</h1></b>
                    </a>
                    
            </div>
    </div>
</div>

{% endblock %}
{% block "content"%}
            <div class="container m-auto"> 

                <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"> {{ user.username }}'s Settings </h1>
                <!--
                <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
                    <li class="uk-active"><a href="#">General</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Notification</a></li>
                    <li><a href="#">Social links</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
                -->
            <br></br>
            <hr></hr>
                
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid lg:grid-cols-3 mt-12 gap-8">
                    <div>
                        <h3 class="text-xl mb-2"> Basic</h3>
                        <p></p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
    
                       <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                            <div class="col-span-2">
                                <label for=""> Profile Image</label>
                                {% if user_profile.profileimg %}
                                <img src="{{user_profile.profileimg.url}}" class="w-20 h-20 rounded-full mb-2" />
                                {% else %}
                                 <p class="text-sm text-gray-400">No profile image set.</p>
                                {% endif %}
                                <input type="file" name="image":value="{{user_profile.profileimg}}" class="shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label for="about">Bio</label>  
                                <textarea id="about" name="bio" rows="3"  class="shadow-none bg-gray-100">{{user_profile.bio}}</textarea>
                            </div> 
                            <div class="col-span-2">
                                <label for=""> Location</label>
                                <input type="text" name="location" value="{{user_profile.location}}" class="shadow-none bg-gray-100">
                            </div>
                       </div> 
    
                       <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                           <button class="p-2 px-4 rounded bg-gray-50 text-red-500"> <a href={% url "index" %}>Cancel </a></button>
                           <button type="submit" class="button bg-blue-700"> Save </button>
                       </div>
    
                    </div>
                </div>
            </form>
            </div>

{% endblock %}

 <!-- Scripts
    ================================================== -->
{% block "scripts" %}

    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
{% endblock %}
